/* Error: Undefined variable.
 *   ,
 * 1 | .wi-night-clear:before {content: $night-clear;}
 *   |                                  ^^^^^^^^^^^^
 *   '
 *   src/scss/weather-icons/weather-icon-classes/classes-night.scss 1:34  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 1 \2502  .wi-night-clear:before {content: $night-clear;}\a   \2502                                   ^^^^^^^^^^^^\a   \2575 \a   src/scss/weather-icons/weather-icon-classes/classes-night.scss 1:34  root stylesheet";
}
